@charset "UTF-8";
/* CSS Document */
html,
.login-bg{ background:#0078bf}
.login-box{ background:url(../image/login_bg) no-repeat; width:840px; margin:auto; padding-top:332px; padding-left:80px; margin-top:140px; font-family:"微软雅黑";}
.login-box ul li{ float:left; padding-right:14px;}
.login-box ul li input{ border:0; display:block; padding:10px; width:230px; height:20px; line-height:20px; background:#fff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; font-size:14px;}
.login-box .username,
.login-box .password{ background:url(../image/login_icon.png) no-repeat; padding-left:40px;}
.login-box .username{ background-position:0 7px;}
.login-box .password{ background-position:0 -38px;}
.login-box .login-btn{ border:1px solid #065288; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; display:block; height:40px; line-height:40px; width:134px; text-align:center; background:url(../image/login_icon.png) repeat-x 0 -95px; font-size:18px; color:#fff; text-decoration:none; cursor:pointer;}
.login-box .slogan-text{ font-size:18px; color:#fff; width:750px; padding-top:30px; line-height:30px; text-indent:2em;}
.login-box .error-box{ display:none;}
.login-box .error-box li{ width:240px; line-height:40px; padding-left:52px; color:#C00; height:40px;}