<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="GBK">
<head>
<meta http-equiv="content-type" content="text/html; charset=GBK">
<title>	相关性评估页 </title>
</head>

<body>
    <table width="100%" border=1px>
        <td width="10%" valign="top">
        <table name="left-list" width=200>
        <tr>
            <th> queyr列表 </th>
        </tr>
        {% for query_word in query_word_list %} 
            <tr>
                <td><a href="/testtask/get_query_word?page={{ page_obj.number }}&task_id={{ query_word.task.id }}&query_word_seq={{ forloop.counter0 }}" >{{ query_word.query_text }}</a></td>
            </tr>
        {% endfor %}

        {% if is_paginated %}
        <div>
            <tr>
            <td>
            {% if page_obj.has_previous %}
            <a href="/testtask/get_query_word?page={{ page_obj.previous_page_number }}" data-page="{{ page_obj.previous_page_number }}">上页</a>
            {% endif %}
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            {% if page_obj.has_next %}
            <a href="/testtask/get_query_word?page={{ page_obj.next_page_number }}" data-page="{{ page_obj.next_page_number }}">下页</a>
            {% endif %}
            </td>
            </tr>
        </div>
        {% endif %}
        <br />
        <br />
        <form action="/testtask/get_query_word" method="get" >
        <tr>
            <td>
                {% csrf_token %}
                <input type="text" name="search_word" value=""><br/ >
                <input type="submit" value="Search" name="s-btn">
            </td>
        </tr>
        </form>
    </table>
    </td>
    <td width="90%">
    <table name="middle-list" border=1px width="100%" style="table-layout:fixed;word-break:break-all">
        <tbody>
        <tr>
            <th width="50%" > 马可波罗 </th>
            <th width="50%" > 阿里巴巴 </th>
        </tr>
        {% for m_item, a_item in query_item %}
        <tr>
            <td>
                <a href={{ m_item.href }}>{{ m_item.title }}</a><br />
                {{ m_item.href }}
            </td>
            <td>
                <a href={{ a_item.href }}>{{ a_item.title }}</a><br />
                {{ a_item.href }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </td>
</table>
</body>
</html>
