<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="GBK">
<head>
<meta http-equiv="content-type" content="text/html; charset=GBK">
<title>	上传</title>
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/system.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header-box main-width fn-clear">
        <a class="logo"><img src="{% static 'image/makepolo_logo.png' %}" /></a>
    </div>
    <div class="nav-line fn-clear">
        马可波罗搜索测试平台
        <div class="login-out">
            {{ user.username }}
            <a href="/testtask/logout">退出</a>
        </div>
    </div>

    <div>
        <a href="/testtask/get_query_task">首页</a>
    </div>
    <form enctype="multipart/form-data" method="POST" action="/testtask/upload/">
        {% csrf_token %}
        <table>
            <tr>
                <td>任务名称</td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td>任务类型</td>
                <td>
                    <select name="type">
                        <option value="1">相关性对比评估</option>
                        <option value="2">数据质量评估</option>
                        <option value="3">策略GSB评估</option>
                        <option value="4">其他</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="file" name="file" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload" name="hehe" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
